@use "sass:math";

@function vw($px) {
  $vw-context: (1440 * 0.01) * 1;
  @return math.div($px, $vw-context) * 1vw;
}

.cursor {
  $root: &;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 150;
  contain: layout style size;
  pointer-events: none;
  will-change: transform;
  transition: opacity 0.3s, color 0.4s;

  &:before {
    content: "";
    position: absolute;
    top: -vw(24);
    left: -vw(24);
    display: block;
    width: vw(48);
    height: vw(48);
    transform: scale(0);
    background: currentColor;
    border-radius: 50%;
    transition: transform 0.3s ease-in-out, opacity 0.1s, background 0.4s;
  }

  &__text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    color: white;
    font-size: vw(32);
    line-height: 1;
    text-align: center;
    letter-spacing: -0.01em;
    transition: opacity 0.4s, transform 0.3s;
  }

  &.--visible {
    &:before {
      transform: scale(0.2);
    }
  }

  &.--pointer {
    &:before {
      transform: translate(-25%, -25%) scale(1) !important;
      transition-duration: 0.2s;
    }

    #{$root} {
      &__text {
        opacity: 1;
        transform: translate(-105%, -85%) scale(1) !important;
      }
    }

    &.--active:before {
      transform: translate(-25%, -25%) scale(1.5) !important;
      transition-duration: 0.2s;
    }
  }

  &.--text:not(.--pointer) {
    #{$root} {
      &__text {
        opacity: 1;
        transform: translate(-50%, -50%) scale(1) !important;
      }
    }
  }

  &.--lg {
    &:before {
      transform: scale(1.2);
    }
  }

  &.--hidden {
    &:before {
      transform: scale(0);
    }
  }
}
